doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title SoundTrue around-ear headphones II
    link(rel="stylesheet" href="css/style.css")
  body
    // Header
    header
      // Logo
      .logo
        a(href="/"): img(src="images/logo.svg" alt="Bose")
      // Navigation
      nav
        ul
          li: a(href="/headphones") Headphones
          li: a(href="/speakers") Speakers
          li: a(href="/best") Best with Bose
          li: a(href="/support") Support
      // Search
      .search
        input(type="text" placeholder="Search...")
    
    // Main content
    main
      // Photo of product
      section#photo

      // Main information and add to cart form
      section#buy
        // Basic description
        article
          h2 SoundTrue around-ear headphones II
          p Engineered for your music. Designed for your style.
        
        // Rating
        .rating
          h3 Customer rating
          ul.rating
            li.on
            li.on
            li.on
            li.on
            li.off

        // Add to cart form
        form(action="cart.php" method="post")
          // Choose color
          h3 Color
          fieldset.black
            input(type="radio" name="color" value="black" id="set-black")
            label(for="set-black") Charcoal Black

          fieldset.navy
            input(type="radio" name="color" value="navy" id="set-navy" checked)
            label(for="set-navy") Navy Blue
          
          // Quantity
          h3 Qty
          fieldset
            select(name="qty")
              option(value="1" selected) 1
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4
              option(value="5") 5
              option(value="6") 6

          // Price
          .offer
            .price <small>$</small>99.95
            .stock 6 left in stock
            
            // Add to cart button
            input(type="submit" value="Add to cart")
      
      // Parallax image
      section.parallax

      // Overview
      section#overview
        article
          h2 Overview
          p Presenting the around-ear headphones that focus your music inward while proclaiming your style to the world. SoundTrue headphones II bring your music to life with depth and clarity that many headphones can’t deliver. And they’re redesigned with a slimmer profile and fresh, new colors.
          p Featuring a softly padded headband and memory foam to cushion around your ears, they’re so light and comfortable you just might forget you’re wearing them. Yet they’re durable enough to survive your busy life, and include a matching carrying case.
        
        aside
          h2 Features
          ul
            li Inline microphone and remote for easy switching between calls and music with select iPhone models
            li Music sounds deep, clear and lifelike thanks to proprietary Bose® technologies
            li Redesigned with a slimmer profile and fresh, new colors
            li Softly padded headband, memory-foam cushions for long-term comfort
            li Fold-flat earcups, matching carrying case for easy travel
            
      
      // Parallax image
      section.parallax(style="background-image: url(../images/bg-2.png)")


      // Specs
      section#specs
        h2 Specs
        table
          tr
            td Frequency range
            td 6 Hz — 25000 KHz
          tr
            td Dimensions/weight
            td 7.5" H x 6.0" W x 1.5" D (6.5 oz)

      // Reviews
      section#reviews
        h2 Reviews

        blockquote
          // Rating
          ul.rating
            li.on
            li.on
            li.on
            li.on
            li.off

          h3 As usual, Another Awesome product by Bose
          p As a serious Bose fan, I bought a new pair of the SoundTrue II Headphones. I really did not need them, but I thought to myself...........These are Bose ! How can I go wrong ? I didn't go wrong ! I loved them ! Took them with me on a cross country road trip with some friends. When I wasn't driving, I was jamming out ! A few of the guys decided they wanted to check out my headphones. They fell in love with them ! So, on our trip 3 extra sets of headphones were bought ! The only way I see it is that I will always stay with Bose for my music listening needs ! Thank You for an excellent product !
          cite
            span John Smith
            time(datetime="2016-12-21T19:00") 4 months ago

      // Accessories
      section#accessories
        h2 Accessories
        
        article.accessory
          img(src="images/case.png" alt="SoundTrue® Around-Ear II Carry Case")
          h3 SoundTrue® Around-Ear II Carry Case
          section.buy
            .price <small>$</small>14.95
            a(href="#") Shop
        
        article.accessory
          img(src="images/accessories/cable.png" alt="SoundTrue® Around-Ear II Carry Case")
          h3 SoundTrue® headphones inline mic/remote cable
          section.buy
            .price <small>$</small>29.95
            a(href="#") Shop
        
        article.accessory
          img(src="images/accessories/cushion.png" alt="SoundTrue® Around-Ear II Carry Case")
          h3 SoundTrue® around-ear headphones II ear cushion kit
          section.buy
            .price <small>$</small>24.95
            a(href="#") Shop
    
    // Footer
    footer
      small © Bose Corporation 2017
      small 200336022 | Icons by Icons8.com

    script(src="js/main.js")